/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

div img {
	width: 100%;
	max-width: 225px; 
}


/* grid system -- mobile first! */


/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {
	.row-2 {
		float: left;
	}

	.row-4 {
		float: left;
	}
	.article-col-1 {
		background: lightgreen;
		float: left;
		margin-left: 0;
		clear: right;
		margin-top: 2%;
	}

	.article-col-1:last-child {
		margin-right: 0;
	}
	
	.article-col-2 {
		margin-top: 2%;
		background: lightblue;
		float: left;
		clear: right;
		width: 49%;
		margin-right: 2%;
	}

	.article-col-2:last-child {
		margin-right: 0;
	}
	
	.article-col-3 {
		margin-top: 2%;
		background: lightyellow;
		float: left;
		clear: right;
		width: 53%;
		margin-right: 2.4%;
	}

	.article-col-3:last-child {
		margin-right: 0;
		width: 44.25%;
	}
	
	.article-col-4 {
		margin-top: 2%;
		background: lightsalmon;
		float: left;
		clear: right;
		width: 100%;
	}
	
}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
	.article-col-1 {
		margin-top: 0;
		width: 18%;
		margin-right: 2%;
		margin-left: 0;
		clear: right;
	}
	
	.article-col-2 {
		width: 38%;
		margin-right: 2%;
		margin-left: 0;
	}
	
	.article-col-3 {
		width: 32%;
		margin-right: 1.8%;
	}
}